@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ece9e9;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Montserrat;
    color: #000000;
}

.card {
    padding: 15px;
    width: 360px;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    user-select: none;
}

.cover-photo {
    position: relative;
    background: url(../images/couverteur.jpg);
    background-size: cover;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.profile {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #ffffff;
    padding: 5px;
}

.profile-name {
    font-size: 20px;
    margin: 25px 0 0 120px;
    color: #000000;
}

.about {
    margin-top: 15px;
    line-height: 1.6;
}

.but{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-a {
    margin:10px ;
    background: #0094bd;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 3px;
    border: 1px solid #0094bd;
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s;
}

.btn-a:last-of-type {
    background: transparent;
    border-color: #0094bd;
    color: #0094bd;
}

.btn-a:hover {
    background: #0094bd;
    color: #ffffff;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

